.container {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  margin: .2em;
  padding: auto;
}

.loginContainer {
  background-color: #E5E5E5;
  width: 50%;
  margin: 1em;
}

.loginForm {
  padding: 5em;
}

.inputBox {
  width: 100%;
  height: 3em;
  margin-bottom: .5em;
  border-radius: 15px;
  font-size: large;
}

.loginButton {
  width: 30em;
  background-color: #65FF7E !important;
  width: 100% !important;
  color: black !important;
  font-weight: bolder;
}
