.container {
  width: 100vh;
  padding: 3em;
  margin: 2em;
}

.inputBox {
  background-color: #E5FFEA;
  width: 100%;
  height: 3em;
  margin-bottom: .5em;
  border-radius: 15px;
  font-size: large;
  outline: none;
  border:none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.checkButton {
  background-color: #65FF7E !important;
  color: black;
  font-weight: bolder;
}

.signUpButton {
  width: 30em;
  background-color: #65FF7E !important;
  width: 100% !important;
  color: black !important;
  font-weight: bolder;
}

.label {
  font-weight: bolder;
}